body {
    background-color: gainsboro;
    overflow-y: scroll;
}

.container {
    padding: 100px 20px;
}


.form-btns-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    padding: 30px;
    background-color: #fff;
}

.gallery-main {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.gallery-main img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 4px;
}

.gallery-sub {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.gallery-sub-item {
    width: 25%;
    max-height: 400px;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    border: 3px solid transparent;
    background: transparent;
    transition: border .3s ease-in;
}

.gallery-sub-item.active {
    border: 3px solid coral;
}

.gallery-sub-item:focus,
.gallery-sub-item:hover {
    border: 3px solid coral;
    outline: 0;
}

.gallery-sub-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hidden {
    display: none;
}